@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animiL{
    animation: slideInFromLeft 1.0s ease-out forwards;
  
  }
  .animiR{
    animation: slideInFromRight 1.0s ease-out forwards;
  
  }
  .animiT{
    animation: slideInFromTop 1.0s ease-out forwards;
  
  }