.login-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
  border-radius: 12px;
  background: #FFF;
}

.login-form {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-title {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000;
}

.signup-link {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #4B5563;
}

.signup-link .create-account {
  color: #5E8CEA;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #4B5563;
  font-weight: 500;
}

.input-field input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #D1D5DB;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #4B5563;
}

.options {
  display: flex;
  justify-content: space-between;
}

.remember-me label {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #4B5563;
  font-weight: 500;
}

.forgot-password a {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #9CA3AF;
  font-weight: 500;
}

.login-button button {
  width: 100%;
  padding: 16px;
  border-radius: 6px;
  background: #5E8CEA;
  color: #FFF;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.login-banner {
  flex: 1;
  background: 
              url('../../public/images/wtmpz-tg-j-eb-ud.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  justify-content: flex-end; /* Align text to the right */
  align-items: center;
  padding-right: 20px; /* Add some padding from the right edge */
}

.banner-text2 {

  color: white;
  font-size: 96px;
  font-family: 'Rancho';
  font-weight: 400;
  line-height: 105.6px;
  word-wrap: break-word;
  font-size: 150px;
}
