.profile-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    width: 100%;
    height: 109px;
    background: rgba(71, 125, 234, 0.20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.profile-header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-name {
    font-size: 48px;
    font-family: 'Lemonada', sans-serif;
    font-weight: bold;
    line-height: 56px;
    word-wrap: break-word;
    text-shadow: "2px 2px 4px rgba(0, 0, 0, 0.5)";
    margin-left: auto; /* Pushes the name to the right */
}

.create-account-button {
    background: #487EEA;
    color: white;
    background-color: #487EEA;

    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-right: auto; /* Pushes the button to the left */
}

.home-button {
    background: transparent;
    border: 1.3px solid #487EEA;
    color: #487EEA;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.social-links {
    display: flex;
    gap: 16px;
    margin-right: 20px;
}

.social-icon {
    width: 37px;
    height: 33px;
    background: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}


.profile-main {
    width: 100%;
    background: #EDF3FF;
    padding: 98px 20px;
}

.lessons-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.lesson-card {
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Manrope;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.lesson-card:hover {
    transform: perspective(1000px) rotateY(10deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.lesson-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.lesson-info {
    padding: 20px;
}

.lesson-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.lesson-author {
    color: #525252;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

.lesson-title {
    color: #141414;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

.lesson-description {
    color: #525252;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.lesson-tags {
    display: flex;
    gap: 8px;
}

.tag {
    background: rgba(128, 85, 205, 0.20);
    border-radius: 16px;
    padding: 2px 11px;
    color: #6941C6;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.lesson-buttons {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.lesson-button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.subscribe-button {
    background-color: #8fffec; /* Green */
    color: white;
}

.enter-lecture-button {
    background-color: #2196F3; /* Blue */
    color: white;
}

.profile-footer {
    width: 100%;
    background: linear-gradient(0deg, #6080BF 0%, #6080BF 100%);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F6F6;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    
}
.footer-content1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    align-items: flex-end; /* Aligns children to the right */
    margin-left: 50%; /* Ensures that the container is aligned to the right if there's extra space */
    margin-right: 0; /* Optional: Ensures that there's no extra margin on the right */
  }

.footer-link-group,
.footer-info {
    /* width: 100%;
    max-width: 300px; */
}

.footer-link-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-title {
    color: white;
    font-size: 25px;
    font-family: 'Lemonada', sans-serif;
    font-weight: 700;
}

.footer-link {
    color: #F5F6F6;
    font-size: 14px;
    font-family: 'Lemonada', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}


h4.footer-name {
    color: white;
    font-size: 40px;
    font-family: 'Lemonada', sans-serif;
    font-weight: 575;
    line-height: 30px;
    word-wrap: break-word;
}

.footer-quote {
    color: #D4D5D5;
    font-size: 14px;
    font-family: 'Lemonada';
    font-weight: 500;
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-socials .social-icon {
    background: none;
    padding: 0;
    border-radius: 50%;
}
.footer-container {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
  }
  button {
    padding: 10px 20px;
    background-color: #a391f0;
    color: white;
    border: none;
    cursor: pointer;
}

a.Green {
    background-color: #2196F3; /* Green */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  a.Green.clicked {
    background-color: #FF0000; /* Red */
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animiL{
    animation: slideInFromLeft 1.0s ease-out forwards;
  
  }
  .animiR{
    animation: slideInFromRight 1.0s ease-out forwards;
  
  }