/* General styles */
body.landing-page {
  margin: 0;
  padding: 0;
  font-family: 'Lemonada', sans-serif;
}

/* Profile Header */
.profile-header {
  background-color: #6080BF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logout-button {
  margin-right: 20px;
}

.profile-name {
  color: white;
  font-size: 1.5rem;
}

/* Video Section */
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.video-container {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  position: relative;
  background-color: #000;
  
}

/* Responsive typography and buttons */
h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
}

p {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 0;
}

.nav-button {
  background-color: #5E8CEA;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #4a70b1;
}

/* Footer */
.footer {
  width: 100%;
  padding: 40px 20px;
  background-color: #6080BF;
  text-align: center;
  color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .profile-header-content {
    flex-direction: column;
    align-items: center;
  }

  .logout-button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .profile-name {
    font-size: 1.2rem;
  }

  .video-container {
    width: 100%;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .nav-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .profile-name {
    font-size: 1rem;
  }

  .video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  h2, p {
    font-size: 1rem;
  }

  .nav-button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
.frammm {
  outline: none;
  display: none;

}
